<a href="https://colab.research.google.com/github/tmckim/materials-fa23-colab/blob/main/lectures/lec03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**Copy of lec02.ipynb**". You can rename this to just the title of the assignment "**lec02.ipynb**". Make sure you do keep an informative name (like the name of the lecture and number) so that you know which files go with the course sessions. More instruction on file formats is at the end of the notebook.


**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called “Colab Notebooks” at the root (home directory) of your Google Drive. If you use this for other courses or personal code notebooks, I recommend creating a folder for this course and then moving the assignments AFTER you have completed them.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

#!mkdir -p '/content/gdrive/My Drive/colab-materials-NS499DataSci-notebooks/'
%cd /content/gdrive/MyDrive/colab-materials-NS499DataSci-notebooks/
!rm -r materials-fa23-colab
!git clone https://github.com/tmckim/materials-fa23-colab '/content/gdrive/My Drive/colab-materials-NS499DataSci-notebooks/materials-fa23-colab/'

%cd /content/gdrive/MyDrive/colab-materials-NS499DataSci-notebooks/materials-fa23-colab/lectures/

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use("fivethirtyeight")

## Part 1

## Arrays ##

In [ ]:
# An array of 4 numbers
first_four = make_array(1, 2, 3, 4)

In [ ]:
# Show the array
first_four

In [ ]:
# Multiply the array by 2
first_four * 2

In [ ]:
# Squaring the array
first_four ** 2

In [ ]:
# Add to the array
first_four + 1

In [ ]:
# The original array is unchanged, just like when we call show/select/drop on Table
first_four

In [ ]:
# A new array
next_four = make_array(5, 6, 7, 8)

In [ ]:
# Add two arrays
first_four + next_four

In [ ]:
# A third array
only_three = make_array(5, 6, 7)

In [ ]:
# This line will cause an error - why?
first_four + only_three

In [ ]:
# A string array
str_array = make_array('ha', 'he', 'ho')

In [ ]:
# Show the array
str_array

In [ ]:
# Multiply a string array by a number?
str_array * 4

In [ ]:
# Show this array again
next_four

In [ ]:
# Adding the array of numbers
sum(next_four)

In [ ]:
# Another way to do this
next_four.sum()

In [ ]:
# Using numpy to average the array
np.average(next_four)

In [ ]:
# Using numpy to take the mean of the array
np.mean(next_four)

In [ ]:
# Use the len function to determine the length
len(next_four)

In [ ]:
# Arrays also have a member variable array_name.size that contains the size of the array
# Note, size here isn't a function so it doesn't require () after it
next_four.size

### Accessing Elements

In [ ]:
# Show array again as reminder
next_four

In [ ]:
# How to index an array
next_four.item(0)

In [ ]:
# What item are we indexing here?
next_four.item(1)

**Bonus!** This is called **array indexing**. There is a shorter "equivalent" syntax that people often use. However, for this class you only need to know about `.item()`.<br><br>
`array[ INDEX ]`

In [ ]:
# Shorter and more compact
next_four[1]

## Ranges ##

We use ranges to make arrays of number sequences easily. The numpy `np.arange(start, stop, step)` function produces an array starting at `start` and ending *before* `stop`, in increments of `step`.

In [ ]:
# how we previously learned to make an array
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
# Use numpy to make a range- what numbers will we get?
np.arange(0,7,1)

In [ ]:
# Can we write it shorter? Default setting for step size
np.arange(0,7)

In [ ]:
# Even shorter- assumes we start from 0
np.arange(7)

In [ ]:
# Anything else yoou want me to try?
np.arange(0, 20, 2)

## Columns of Tables are Arrays ##

### A more interesting table

In [ ]:
# Originally from https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
# salary is in millions of dollars
# Create a table named nba from the data file using the Table method and read_table function
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
# Create a table called point_guards by finding where the position column is labeled PG (point guard) during the 2020 season
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
# Show the table
point_guards

In [ ]:
# Drop (remove) the position column
point_guards.drop('position')

In [ ]:
# Show the table
point_guards

In [ ]:
# Further remove columns from the table
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
# Show the first 10 rows of the table
point_guards.show(10)

In [ ]:
# Combine table functions: first sort by salary and then show the first 10 rows
# What is the default sorting direction? Hint: what is the default for the optional argument, descending?
point_guards.sort('salary').show(10)

In [ ]:
# The line below will cause a value error- order of combining methods matters!
nba.drop('position').where('position', 'PG')

In [ ]:
# Create a table of only the data from the 2020 season
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
# Create a table of Golden State Warriors data
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
# Show the salary column
warriors.select('salary')

In [ ]:
# What type is the salary column?
type(warriors.select('salary'))

In [ ]:
# Access the numbers in the salary column
warriors.column('salary')

In [ ]:
# Average the numbers in the salary column
np.average(warriors.column('salary'))

In [ ]:
# Another way to do this
warriors.column('salary').mean()

In [ ]:
# Why doesn't this work?
np.average(warriors.select('salary'))

In [ ]:
# Create a table with Phoenix Suns data
suns = nba.where('team', 'Phoenix Suns')

In [ ]:
# Subtract averages from the salary columns to compare the two teams
np.average(warriors.column('salary')) - np.average(suns.column('salary'))

In [ ]:
# How many rows in the warrior table?
warriors.num_rows

In [ ]:
# How many rows in the suns table?
suns.num_rows

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
# Make an array of streets
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
# Create an empty table
empty_table = Table()
empty_table

In [ ]:
# Create a table using the array we made above (streets)
southside = Table().with_column('Streets', streets)
southside

In [ ]:
# Add a column to the table
southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
# Add a column to the table- what's the difference from the above code?
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
# Create a table with multiple columns in one step
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Census Data ##

In [ ]:
# Read in the Census data table
full = Table.read_table('nc-est2019-agesex-res.csv')

In [ ]:
# Keep only the columns we care about- 2014 and 2019
partial = full.select('SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019')

In [ ]:
# Make things easier to read
simple = partial.relabeled(2, '2014').relabeled(3, '2019')
simple

In [ ]:
# Remove the age totals- coded as 999
no_999 = simple.where('AGE', are.below(999))
no_999

## Line Plots ##

In [ ]:
# Our first chart!
no_999.plot('AGE', '2019')

In [ ]:
# Adjusted plot
overall = no_999.where('SEX', 0)
overall.plot('AGE', '2019')

In [ ]:
# ^^ That plot should be labeled! Here are 3 ways to label it:

In [ ]:
# US Population  <--- Just add a comment

overall.plot('AGE', '2019')

In [ ]:
overall.plot('AGE', '2019')
print('US Population')  # <--- Print out what it is

In [ ]:
overall.plot('AGE', '2019')
plots.title('US Population');    # <--- Add a title

In [ ]:
# Now plot 2014

In [ ]:
# Put both years on the same plot
overall.drop('SEX').plot('AGE')

## Males vs Females (Optional)

In [ ]:
# Let's compare male and female counts per age
males = no_999.where('SEX', 1).drop('SEX')
females = no_999.where('SEX', 2).drop('SEX')

In [ ]:
# Create table for 2019
pop_2019 = Table().with_columns(
    'Age', males.column('AGE'),
    'Males', males.column('2019'),
    'Females', females.column('2019')
)
pop_2019

In [ ]:
# Plot 2019 data
pop_2019.plot('Age')

In [ ]:
# Calculate the percent female for each age
total = pop_2019.column('Males') + pop_2019.column('Females')
pct_female = pop_2019.column('Females') / total * 100
pct_female

In [ ]:
# Round it to 3 so that it's easier to read
pct_female = np.round(pct_female, 3)
pct_female

In [ ]:
# Add female percent to our table
pop_2019 = pop_2019.with_column('Percent female', pct_female)
pop_2019

In [ ]:
# Plot percent
pop_2019.plot('Age', 'Percent female')

In [ ]:
# ^^ Look at the y-axis! Trend is not as dramatic as you might think

pop_2019.plot('Age', 'Percent female')
plots.ylim(0, 100);  # Optional for this course

## Scatter Plots ##

In [ ]:
# Actors and their highest grossing movies
actors = Table.read_table('actors.csv')
actors

In [ ]:
# Create scatter plot from slides
actors.scatter('Number of Movies', 'Average per Movie')

In [ ]:
# How do we find the highest average per movie?
actors.where('Average per Movie', are.above(400))

In [ ]:
# Extra: Scatter of # of movies compared to total gross amount
#actors.scatter('Number of Movies', 'Total Gross')

## Bar Charts ##

In [ ]:
# Highest grossing movies as of 2017
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

In [ ]:
# Find the top 10 movies
top10_adjusted = top_movies.take(np.arange(10))
top10_adjusted

In [ ]:
# Convert to millions of dollars for readability
millions = np.round(top10_adjusted.column('Gross (Adjusted)') / 1000000, 3)
top10_adjusted = top10_adjusted.with_column('Millions', millions)
top10_adjusted

In [ ]:
# A line plot doesn't make sense here: don't do this!
top10_adjusted.plot('Year', 'Millions')

In [ ]:
# Use a bar plot instead
top10_adjusted.barh('Title', 'Millions')

Exercise: Generate the chart shown in the slides: a bar chart of age (# years since release) for the 10 highest grossing movies (non-adjusted).

In [ ]:
# Insert code here

### Saving
Remember to save your notebook before closing.
Choose **Save** (and make sure you've already saved a copy in your drive) from the **File** menu.